/* LiveIndex Start */
.LiveMainContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(153, 155, 167, 0.28);
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.LiveClose {
    flex-basis: 50%;
}

.LiveContainer {
    height: 100%;
    width: 794px !important;
    flex-basis: 794px !important;
    max-width: 100%;
    background: #FFFFFF;
    box-shadow: 10px 10px 43px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.LiveInnerContainer {
    width: 610px;
    height: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    padding-top: 40px;
    scrollbar-color: #1B47C1 #fff;
    scrollbar-width: none;
}

.LiveInnerContainer::-webkit-scrollbar {
    width: 0px;
}

.LiveInnerContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1B47C1;
}

.ImageContainer {
    width: 100%;
    height: 393.84px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 35.25%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ImageBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.ImageBox img {
    width: 100%;
    height: 100%;
}

.TextBox {
    width: 100%;
    height: 64.34px;
    background: #161616;
    font-style: normal;
    font-weight: 400;
    font-size: 23.3962px;
    line-height: 28px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DescContainer {
    width: 100%;
    margin-top: 28px;
    position: relative;
}

.DescContainer p {
    font-style: normal;
    font-weight: 500;
    font-size: 19.4969px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.DescContainer textarea {
    width: 100%;
    height: 140.38px;
    background: #E7E9FE;
    border: 1.94969px solid rgba(40, 40, 40, 0.21);
    border-radius: 9.74843px;
    margin-top: 15px;
    padding: 15px 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19.4969px;
    line-height: 24px;
    color: #000000;
    resize: none;
    outline-width: 0;

}

.DescContainer span {
    display: block;
    position: absolute;
    z-index: 5;
    right: 30px;
    bottom: 20px;

}


.FollowersContainer {
    margin-top: 20px;
}

.topBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topBox img {
    cursor: pointer;
}

.topBox p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 19.4969px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
}

.FollowersBox {
    width: 100%;
    height: 132.58px;
    background: #E7E9FE;
    border: 1.94969px solid #AFB6FD;
    border-radius: 19.4969px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 19px;
    margin-bottom: 14px;
}

.LeftFollow {
    display: flex;
    align-items: center;
    gap: 20px;
}

.LeftFollow img {
    width: 93.58px;
    height: 93.58px;
    border-radius: 50%;
}

.LeftFollow div {
    display: flex;
    flex-direction: column;
}

.LeftFollow div h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27.2956px;
    line-height: 138.4%;
    color: #000000;
}

.LeftFollow div h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.4969px;
    line-height: 138.4%;
    color: #4A4A4A;
}

.RightFollow {
    width: 152.08px;
    height: 65.99px;
    background: #1B47C1;
    border-radius: 9.74843px;
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.4969px;
    line-height: 138.4%;
    color: #FFFFFF;
    border: none;
    transition: all .2s ease;
}

.RightFollow:hover {
    background: #002897;
}

.GoLiveBtnContainer {
    width: 100%;
    height: 100px;
    background: #1B47C1;
    border-radius: 9.74843px;
    overflow: hidden;
    font-style: normal;
    font-weight: 600;
    font-size: 27.2956px;
    line-height: 41px;
    color: #FFFFFF;
    cursor: pointer;
    transition: all .2s ease;
    border: none;
}

.GoLiveBtnContainer:hover {
    background: #002897;
}

/* LiveIndex End */


/* LiveShow Start */
.LiveShow {
    position: relative;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
}

.liveDivContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 8;
}

.liveDivContainer img {
    width: 100%;
    height: 100%;
}

.LiveShowTop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 96px 68px;
    z-index: 10;
}

.LiveShowTop img {
    cursor: pointer;
    padding: 5px;
}

.LiveShowTop button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FF6767;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    width: 65px;
    height: 48.26px;
    width: 174px;
    cursor: pointer;

}

.LiveShowTop button::after {
    content: "LIVE";
}

.LiveShowTop button::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF6767;
    animation: blink infinite 1s;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.LiveShowTop button:hover::before {
    display: none;
}

.LiveShowTop button:hover::after {
    content: "END LIVE";
}

.LiveShowTop button:hover {
    transition: all .4s ease-in;
    width: 174px;
    height: 48.26px;
    background: #FF3C3C;
    font-size: 15.1304px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    content: 'Live End';
}

.LiveShowTop button:active::after {
    position: relative;
    top: 1px;
}

.LiveShowTop button:active {
    transition: all .0s ease-in;
    box-shadow: inset 0 0 8px 2px rgba(0, 0, 0, 0.3);
}

.LiveShowBottom {
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 82px 100px 77px;
}

.LiveShowBottomLeft {
    width: 319.82px;
}

.LiveShowBottomLeft h4 {
    width: 129px;
    height: 32px;
    background: rgba(247, 247, 247, 0.1);
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 28px;
}

.LiveShowBottomLeft p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.2535px;
    line-height: 15px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.LiveShowBottomLeft div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.LiveShowBottomLeft div span {
    height: 29.7px;
    background: rgba(219, 222, 255, 0.05);
    border-radius: 7.35211px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.2535px;
    line-height: 15px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
}

.LiveShowBottomRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 48.77px;
}

.LiveShowBottomRight img {
    cursor: pointer;
}

.LiveShowBottomRight img:active {
    transition: all .2s ease-in-out;
    transform: scale(1.5);
}

/* LiveEndPopup Start */

.LiveEndPopup {
    width: 610px;
    height: 368px;
    background: #fff;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 10px;
    padding: 54px 67px;
}

.LiveEndPopup h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 123.4%;
    color: #000000;
}

.LiveEndPopup h1 span {
    display: block;
    font-weight: 700;
}

.LiveEndPopup div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 46px;
}

.LiveEndPopup div button{
    width: 218px;
    height: 62px;
    background: #D7DAFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 123.4%;
    color: #000000;
    border: none;
    outline: none;
    cursor: pointer;
}
.LiveEndPopup div button:last-child{
    
    background: #F23F3F;
    color: #fff;
}
.LiveEndPopup div button:hover{
    transition: all .3s ease-in-out;
    background: #b9b9b9;
}
.LiveEndPopup div button:last-child:hover{
    transition: all .3s ease-in-out;
    background: #881c1c;
}


/* LiveEndPopup End */




/* LiveShow End */




/* LiveAgain Start */
.TextBox2 {
    background: #EE4949;
}

/* LiveAgain End */