.container {
    /* position: relative; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 4rem 0 0 5rem;

}

.container::-webkit-scrollbar {
    display: none;
}

.container .header {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10rem;
}

.container .header p {
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 5.8rem;
}

.container .header button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.container .main-content {
    margin: 3rem 0;
    display: grid;
    grid-row-gap: 5.4rem;
}

.container .main-content .info {
    display: grid;
    grid-row-gap: 3rem;
}

.container .main-content .info .heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
}

.container .main-content .info ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: .9rem;
    row-gap: 1.8rem;
}

.container .main-content .info .deactive {
    background-color: #FF3232;
}

.container .main-content .info .deactive p {
    color: #ffffff;
}
